/*site-wide styles*/
html {
  font-family: sans-serif;
  font-size: 1.8vw;
  color: #666666;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333333;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333333;
}

h3 {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333333;
}

h4 {
  font-size: 0.9rem;
  color: #000000;
}

strong {
  font-weight: bold;
  color: #333333;
}

.img-content img {
  width: 100%;
}

.white-bg {
  background-color: #ffffff;
}

.grey-bg {
  background-color: #eeeeee;
}

.content-segment {
  display: flex;
}

.left-container {
  width: 60%;
}

.left-container .img-content {
  padding: 2rem 1.5rem;
}

.right-container {
  width: 40%;
}


/*header styles*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4rem;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.logo img {
  height: 2rem;
}

nav {
  margin: auto 1.5rem;
}

nav li {
  display: inline;
  margin-left: 1rem;
}

nav a {
  text-decoration: none;
  color: #333333;
}


/*banner styles*/
.banner {
  background-color: #dddddd;
}

.banner p {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333333;
}

.banner .right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner .text-content {
  padding: 1.5rem;
}

.banner h1, .banner p {
  padding-bottom: 2rem;
}

.button {
  text-align: center;
  background-color: #333333;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 2rem;
}

.button a {
  color: #ffffff;
  text-decoration: none;
}
